<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
     <script src="script.js"></script>
    <title>PORTFOLIO</title>
  </head>
  <body>
    <ul id="menu">
      <li><a href="?">tavaline link</a></li>
      <li class="hover">
        <span>kohale minnes</span>
        <ul>
          <li><a href="?">link</a></li>
        </ul>
      </li>
        <li class="click">
        <span>klikkides</span>
        <ul>
          <li><a href="?">link</a></li>
        </ul>
      </li>
    </ul>
    <h2>Kersti Miller</h2>
    <h2>Webdesigner</h2>
    <div id="gallery">
