<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Näide</title>
<link href="kujundus.css" rel="stylesheet"/>
<script src="galerii.js"></script>
</head>
<body>
<div id="wrap">
<div id="fixed">
	<ul id="menu">
		<li><a href="kontroller.php?mode=pealeht">Pealeht</a></li>
		<li><a href="kontroller.php?mode=galerii">Galerii</a></li>
		<li><a href="kontroller.php?mode=pildivorm">Lisa pilt</a></li>
		<li><a href="kontroller.php?mode=login">Login</a></li>
		<li><a href="kontroller.php?mode=register">Registreeru</a></li>
	</ul>
</div>
<div id="content">
