<h1>Tere tulemast!</h1>
<img id="avalehepilt" src="pilt.jpg" alt="Avalehepilt" width="350" height="250">
<h2><em>Foorum</em> on koht oma põnevate mõtete jagamiseks</h2>
<p><b>Foorumis</b> on võimalik teha järgnevaid tegevusi:</p>
<ul>
	<li>Lugeda foorumipostitusi ja seeläbi tutvuda erinevate arvamustega.</li>
	<li>Lisada foorumisse uusi aruteluteemasid.</li>
	<li>Jagada oma arvamust, vastates foorumipostitustele.</li>
	<li>Muuta ja kustutada oma lisatud mõtteid.</li>
</ul>
<h3>Foorumisse sisenemiseks <a href="?mode=register">registreeri</a> endale konto!</h3>


