<h1 style="text-align: center">Registreeri endale konto!</h1>
<form action="?mode=avaleht" method="POST">
<table id="keskele">
	<tr>
		<td><label for="kasutajanimi">Kasutajanimi:</label></td>
		<td><input id="kasutajanimi" type="text" name="kasutajanimi" maxlength="15" placeholder="Sisesta kasutajanimi"/></td>
	</tr>
	<tr>
		<td><label for="parool">Parool:</label></td>
		<td><input id="parool" type="password" name="parool" maxlength="15" placeholder="Sisesta parool"/></td>	
	</tr>		
	<tr>
		<td><label for="parool2">Kinnita parool:</label></td>
		<td><input id="parool2" type="password" name="parool2" maxlength="15" placeholder="Sisesta parool uuesti"/></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="Registreeri" /></td>
	</tr>
</table>
</form>