<h1>Uus teema</h1>
<form action="?mode=foorum" method="POST">
	<fieldset>
		<legend>Lisa uus teema</legend>
		<label for="peal">Pealkiri (kuni 50 tähemärki):</label><br/>
		<input id="peal" type="text" name="pealkiri" placeholder="Siia kirjuta pealkiri" size="81"/><br/><br/>
		<label for="jutt">Sisu:</label><br/>
		<textarea id="jutt" name="vastus" cols="116" rows="20" placeholder="Siia kirjuta oma sõnum"></textarea><br/>
		<input type="submit" value="Saada" />
		<input id="tagasi" type="button" value="Tagasi" />
	</fieldset>
</form>