<h1>Tere tulemast!</h1>
<br/>
<img id="avalehepilt" src="pilt.jpg" alt="Avalehepilt" width="400" height="250">
<h2><em>Blogi</em> on koht Sinu veebipäeviku pidamiseks.</h2>
<p><b>Blogis</b> on võimalik teha järgnevaid tegevusi:</p>
<ul>
	<li>Luua endale blogi ehk veebipäevik.</li>
	<li>Lisada oma blogisse uusi sissekandeid.</li>
	<li>Kustutada vanu sissekandeid.</li>
	<li>Jagada oma blogipostitusi sõpradega üle kogu maailma.</li>
</ul>
<h3>Veebipäeviku loomiseks <a href="?mode=register">registreeri</a> endale konto!</h3>
